doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='x-apple-disable-message-reformatting')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='format-detection', content='telephone=no')
    title= subject

  body
    table.body(role='presentation', border='0', cellpadding='0', cellspacing='0', style='background-color: #F6F6F6; width: 100%; height: 100%;')
      tbody
        tr
          td
            table.container(role='presentation', align='center', border='0', cellpadding='0', cellspacing='0', style='width: 600px; background-color: #FFFFFF;')
              tbody
                tr.header
                  td(style='padding: 20px; background-color: #000000; text-align: center;')
                    p(style='color: #FFFFFF; font-size: 26px;') ReviseUKMLA
                
                tr.content
                  td
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0', style='width: 100%;')
                      tbody
                        tr
                          td(style='padding: 20px;')
                            
                            p Hello #{firstName},

                            p We received a request to reset your password for your account. We're here to help!
                            
                            p Simply click on the link button below to set a new password:<br>

                            table(role='presentation', border='0', cellpadding='0', cellspacing='0', align='center')
                              tbody
                                tr
                                  td
                                    a(href=`${url}`, target='_blank', style='display: inline-block; padding: 12px 24px; font-size: 16px; font-weight: bold; color: #ffffff; background-color: #007bff; text-decoration: none; border-radius: 5px;') Change my password

                            p <br>If you didn't ask to change your password, don't worry! Your password is still safe and you can delete this email.

                            p 
                              b If you don’t use this link within 1 hour, it will expire.

                            p Best regards,<br>UKMLA Team
                
                tr.footer
                  td(style='background-color: #000000; text-align: center; padding: 10px;')
                    p(style='color: #FFFFFF;') © 2024 UKMLA • All rights reserved.
